* {
  text-align: center;
}

p {
  font-size: 3rem;
  background-color: wheat;
}
h1 {
  text-align: center;
  color: brown;
  background-color: wheat;
}
h2 {
  background-color: lightcoral;
}
.Inception {
  text-align: center;
  color: rgb(42, 161, 165);
  background-color: rgb(238, 33, 18);
}

h2.Inception {
  background-color: rgb(103, 255, 69);
}
/* Dostum burda da commit alabiliyoruz java gibi beee main beee  */
