p {
  background-color: gainsboro;
  text-align: center;
  width: 20%;
}

p.Menu {
  background-color: rgb(60, 59, 59);
  color: white;
}
div {
  background-color: gainsboro;
  text-align: center;
  width: 20%;
}

* {
  text-align: center;
}
ul {
  width: 20%;
  background-color: lightgray;
}
.aktif {
  background-color: gray;
  color: white;
}
table {
  background-color: gray;
  color: white;
}
